.transactionlist{
    width: 500px;
    margin: 30px;
    max-height: 410px;
    border: 2px solid black;
    .transactionlist-item{
        width: 100%;
        padding: 10px;
        span{
            min-width: 20px;
            margin: 10px;
            button{
                float: right;
                margin-left: 10px;
            }
        }
    }
}